<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email Request Form</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/email-form.css">
</head>
<body>
  <div class="container">
    <div class="email-form-wrapper">
      <div class="email">
        <h3>Send An Email</h3>
        {{msg}}
        <form action="/emails" method="post">
          <p class="email-fields">
            <label>To</label>
            <input type="text" name="to">
          </p>
           <p class="email-fields">
            <label>Subject</label>
            <input type="text" name="subject">
          </p>
           <p class="email-fields">
            <label>Message</label>
            <input type="text" name="body">
          </p>
           <p class="email-fields">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>